.payments-listing
  width: 90%
  margin-left: auto
  margin-right: auto
  tr
    text-align: center
    font-size: 18px
    td
      padding: 5px

.heading-container
  margin-top: 40px

  progress
    margin-left: 20px

.budget-progress
  color: lighten($blue, 10%)
  background-color: lighten($secondary, 20%)
  border: solid
  border-width: 1px
  border-color: $secondary
  border-radius: 3px
