<nav class="main-nav">
  {{#link-to  'budgets'}} {{inline-svg 'wallet.svg' class="icon"}} Budgets {{/link-to}}
  {{#link-to  'goals'}} {{inline-svg 'clipboard.svg' class="icon"}} Ziele {{/link-to}}
</nav>

<div class="container">
  {{outlet}}
</div>
