<ul class="inline">
  {{#each model as |goal|}}
    <li>
      {{link-to goal.name 'goals.goal' goal}}
      <br>
      <progress value={{goal.percentage}} max="100">{{goal.percentage}}</progress>
     </li>
  {{/each}}
</ul>
{{#link-to 'goals.new' class="link-new"}}
 <span class="plus-sign">+</span>
{{/link-to}}

{{outlet}}
